@font-face{
	font-family: "raleway";
	font-weight: 600;
	src: url(fonts/raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face{
	font-family: "raleway_bold";
	src: url(fonts/raleway/Raleway-ExtraBold.ttf) format('truetype');
	font-weight: 800;
}

*{
	font-family: raleway, 'Times New roman';
}

h1, h2, h3, strong, .inscription, input{
	font-family: "raleway_bold", 'raleway', "Times New roman";
}

.container{
	width: 95%;
	margin: auto;
	max-width: 1200px;
}

.entete2{
	display: none;
}

a{
	text-decoration: none;
}

.logo{
	width: auto;
	height: 45px;
	object-fit: cover;
	margin-left: 20px;
}

.titre1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	font-weight: bold;
}

.titre1 a{
	font-family: "raleway_bold", 'raleway', "Times New roman";
	color: #0065FC;
}

li{
	list-style-type: none;	
}

.entete nav li{
	text-align: center;
	width: 50%;
}

hr{
	display: none;
}

.hr{
	height: 3px;
	background-color: rgba(0, 0, 0, 0.2);
	margin-top: 10px;
}

nav ul{
	display: flex;
	padding-left: 0;
	flex-flow: row wrap;
	justify-content: space-around;
}

nav a{
	width: 50%;
	font-size: 1em;
    color: #181818;
    text-decoration: none;
	margin-bottom: 10px;
}

nav a:hover{
	color: #0065FC;
}

nav a:hover .hr{
	background-color: #0065FC;
}

h1{
	font-size: 1.3em;
	margin-left: 20px;
	margin-top: 20px;
}

header p{
	margin-left: 20px;
	font-size: 0.9em;
	margin-top: 0;
}

form{
	display: flex;
	margin-left: 20px;
	margin-top: 20px;
}

.barre-recherche{
	width: 250px;
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-right: none;
	border-left: none;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1em;
	padding-left: 10px;
}

.bouton1{
	height: 40px;
	width: 40px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	background-color: rgba(236, 236, 236, 0.7);
	font-size: 0.9em;
}

.bouton2{
	height: 40px;
	width: 40px;
	border-radius: 10px;
	margin-left: -10px;
	border: none;
	color: white;
	background-color: #0065FC;
	font-size: 0.9em;
}

.bouton3{
	display: none;
}

#filtres h2{
	font-size: 1em;
	margin-left: 20px;
}

#filtres ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	padding-left: 0;
}

#filtres li i{
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 50%;
	margin-left: -3px;
	margin-top: -2px;
	margin-bottom: -2px;
	margin-right: 5px;
}

#filtres li:hover{
    background-color: #0065FC;
}

.fa-money-bill-wave, .fa-heart, .fa-dog{
	padding: 15px;
}

.fa-child{
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#filtres li{
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 2em;
	padding-right: 15px;
	margin-right: 8px;
	margin-bottom: 10px;
}

#filtres a{
	color: black;
}

.info span{
	font-size: 0.9em;
}

.info i{
	font-size: 0.8em;
	color: #0065FC;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 2em;
	float: left;
	margin-right: 5px;
}

.info{
	margin-left: 20px;
	margin-bottom: 30px;
}

article a{
	color: black;
}

section p{
	margin-left: 10px;
}

section h2{
	font-size: 1.1em;
	margin-left: 15px;
}

h3{
	font-size: 1em;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 20px;
	font-weight: bold;
}

p{
	padding: 0;
	margin-top: 0px;
	margin-bottom: 0;
}

.titre-populaires{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 10px;
}

.icone-populaires{
	font-size: 1.1em;
	margin-right: 15px;
}

.populaires{
	background-color: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 20px;
}

.articles-populaires{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.populaires article{
	height: 127px;
	width: 90%;
	padding: 0px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-bottom: 10px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
	background-color: white;
	position: relative;
	transition: all .7s
}

.populaires article:hover{
	opacity: .5;
}

.photos-populaires{
	height: 115px;
	width: 35%;
	object-fit: cover;
	margin-right: 10px;
	float: left;
	border-top: 6px solid white;
	border-left: 6px solid white;
	border-bottom: 6px solid white;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	transition: all .7s
}

.articles-populaires article:hover .photos-populaires{
	object-position: bottom right;
}

.descriptions-populaires{
	height: 127px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}

.descriptions-populaires p{
	font-size: 0.8em;
	margin-bottom: 30px;
}

.articles-populaires h3{
	font-size: 0.9em;
}

.notes{
	display: flex;
	margin-bottom: 5px;
	font-size: 0.6em;
	margin-left: 10px;
}

.bleues{
	color: #0065FC;
}

.grises{
	color: rgba(63, 63, 63, 0.2);
	margin-left: 2px;
}

.leshebergements{
	padding-bottom: 20px;
	padding-top: 20px;
	margin-right: 12px;
}

.articles-hebergements{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-right: 12px;
}

.leshebergements article{
	width: 90%;
	height: 200px;
	position: relative;
	margin-bottom: 10px;
	transition: all .7s;
}

.articles-hebergements h3{
	font-size: 0.9em;
	margin-top: 0;
}

.articles-hebergements p{
	font-size: 0.8em;
}

.articles-hebergements article .image{
	height: 150px;
	width: 100%;
	object-fit: cover;
	border: 6px solid white;
	border-radius: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
	transition: all .7s;
}

.articles-hebergements article:hover .image{
	object-position: bottom left;
}

.description{
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: rgba(255,255,255,1);
	width: 100%;
	height: 35%;
	top: 65%;
	border-left: 6px solid white;
	border-right: 6px solid white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

.noteshebergements{
	display: flex;
	align-items: flex-end;
	margin-left: 10px;
	font-size: 0.6em;
}

.plus strong{
	color: black;
}

.plus{
	margin-top: 20px;
	margin-left: 15px;
}

.activites{
	padding-bottom: 20px;
}

.articles-activites{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: space-around;
}

.photoactivite{
	width: 100%;
	height: 95%;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

.activites article{
	width: 90%;
	height: 200px;
	position: relative;
	margin-bottom: 10px;
	transition: all .7s;
}

.activites article:hover{
	opacity: .5;
}

.activites article:hover .descriptionactivite{
	background-color: rgba(255,255,255,0) ;
}

.descriptionactivite{
	font-weight: bold;
	position: absolute;
	background-color: rgba(255,255,255,1);
	bottom: 0px;
	width: 100%;
	height: 20%;
	padding-top: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
	transition: all .7s;
}

.descriptionactivite strong{
	padding-left: 5%;
}

footer{
	width: 100%;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer h2{
	font-size: 1.1em;
}

footer a{
	color: black;
}

footer ul{
	padding-left: 0;
}

footer li{
	margin-bottom: 15px;
}

.footer{
	width: 90%;
	margin: auto;
}

.pied{
	margin-left: 10px;
	padding-bottom: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	h3{
		font-size: 0.9em;
		margin-left: 10px;
		margin-right: 0;	
	}

	.populaires h3{
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 5px;
	}

	.descriptions-populaires p{
		margin-bottom: 0px;
	}

	.entete{
		display: none;
	}

	.entete2{
		display: inline-block;
		width: 100%;
		padding-top: 30px;
	}

	nav a{
		margin-left: 10px;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 0.8em;
	}

	.inscription a{
		color: #0065FC;
		font-family: raleway_bold, 'Times New Roman';
	}

	nav a:hover{
		color: #0065FC;
		border-top: 3px solid #0065FC;
	}

	nav .inscription a:hover{
		border-top: none;
	}

	.logo{
		margin-left: 0;
		height: 38px;
	}

	h1{
		margin-left: 0;
		font-size: 1.1em;
	}

	header p{
		margin-left: 0;
		font-size: 0.8em;
	}

	#filtres h2{
		margin-left: 0;
		font-size: 0.9em;
	}

	#filtres ul{
		font-size: 0.9em;
	}

	.hautpage{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	form{
		justify-content: flex-start;
		margin-left: 0;
	}

	.bouton2{
		display: none;
	}

	.bouton3{
		display: block;
		height: 40px;
		padding-left: 15px;
		padding-right: 15px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border: none;
		color: white;
		background-color: #0065FC;
		font-size: 0.9em;
	}

	.barre-recherche{
		width: auto;
	}

	.articles-hebergements{
		flex-flow: row wrap;
   		align-items: center;
  		justify-content: space-around;
	}

	.noteshebergements{
		margin-top: 0;
	}

	.articles-hebergements article:hover{
		opacity: .5;
	}

	.plus strong:hover{
		color: #0065FC;
	}

	.info{
		margin-left: 0px;
	}

	.info span{
		font-size: 0.8em;
	}

	#filtres{
		display: flex;
		align-items: baseline;
		margin-left: 0px;
	}

	.leshebergements{
		width: 65%;
		height: 650px;
		background-color: #F2F2F2;
		border-radius: 20px;
		padding-right: 12px;
	}

	.leshebergements article{
		width: 40%;
		margin-bottom: 20px;
		height: auto;
	}

	.populaires{
		width: 30%;
		height: 650px;
		border-radius: 20px;
		padding-bottom: 20px;
	} 

	.articles-populaires{
		height: 600px;
		justify-content: space-around;
	}

	.descriptions-populaires{
		background-color: white;
		position: absolute;
		height: 35%;
		width: 100%;
		bottom: 0px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.articles-populaires article{
		height: 182px;
		width: 212px;
		position: relative;
		padding: 0;
	}

	.photos-populaires{
		width: 200px;
		height: 170px;
		border-right: 6px solid white;
		border-radius: 20px;
		float: none;
	}

	.notes{
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 15px;
	}

	.descriptions-populaires h3, .descriptions-populaires p{
		margin-left: 15px;
	}

	.partie1{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.activites{
		padding-bottom: 40px;
	}

	.activites h2{
		margin-left: 0;
	}

	.activites h3{
		margin-top: auto;
		margin-bottom: auto;
	}

	.articles-activites{
		width: 100%;
		height: 300px;
		justify-content: space-between;
		align-content: space-between;
	}

	.photoactivite{
		height: 100%;
	}

	.activites article{
		width: 23%;
		margin-bottom: 0;
	}

	.activites article:nth-last-child(1){
		height: 50%;
	}

	.activites article:nth-last-child(2){
		height: 40%;
	}

	.activites article:nth-last-child(3n){
		height: 300px;
	}

	.activites article:nth-last-child(4){
		height: 40%;
	}

	.activites article:nth-last-child(5){
		height: 50%;
	}

	.descriptionactivite{
		height: 45px;
		width: 100%;
		padding-top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.descriptionactivite h3{
		margin-left: 15px;
	}

	.footer{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 95%;
	}

	.footer h2{
		font-size: 0.9em;
	}

	.footer ul{
		font-size: 0.8em;
	}

	.pied{
		margin: 0;
		padding: 0;
	}

	.footer a:hover{
		text-decoration: underline;
		font-family: 'raleway_bold';
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	section h2{
		margin-left: 20px;
	}

	.plus strong{
		margin-left: 10px;
	}

	.plus{
		margin-top: 20px;
		font-size: 0.8em;
	}

	.articles-hebergements{
		height: 350px;
	}

	.leshebergements{
		width: 67%;
		height: 460px;
		padding-top: 10px;
		padding-bottom: 0;
	}

	.leshebergements article{
		width: 27%;
		padding-bottom: 20px;
		height: 115px;
		transition: all 0.3s;
	}

	.articles-hebergements article .image{
		height: 100%;
	}

	.leshebergements article h3{
		font-size: 0.9em;
	}

	.leshebergements article p{
		margin-bottom: 5px;
	}

	.description{
		font-size: 0.9em;
		top: 75%;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.populaires{
		height: 460px;
		width: 29%;
		padding-top: 10px;
		padding-bottom: 0;
	}

	.articles-populaires{
		height: 400px;
	}
	
	.populaires article{
		height: 110px;
		width: 90%;
		padding: 0px;
		margin-bottom: 20px;
		display: flex;
	}
	
	.populaires h3{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.photos-populaires{
		height: 98px;
		width: 35%;
		object-fit: cover;
		margin-right: 0px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		display: inline-block;
	}
	
	.descriptions-populaires{
		height: 110px;
		margin-left: 10px;
		width: 50%;
		font-size: 0.9em;
		display: inline-flex;
		justify-content: flex-start;
	}

	.notes{
		margin-top: 20px;
	}
	
	.descriptions-populaires h3{
		margin-left: 0;
	}

	.descriptions-populaires p, .notes{
		margin-left: 0;
	}

	.activites{
		padding-top: 20px;
	}

	.articles-activites{
		height: 360px;
	}

	.activites article:nth-last-child(3n){
		height: 360px;
	}

	.footer{
		justify-content: flex-start;
	}

	.footer .pied{
		margin-right: 170px;
	}

	.footer li{
		margin-bottom: 10px;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.footer .pied{
		margin-right: 200px;
	}
}