@font-face{
	font-family: "raleway";
	font-style: normal;
	src: url(fonts/raleway/raleway-Medium.ttf) format('truetype');
}
/* 
@font-face{
	font-family: "raleway";
	font-weight: bold;
	src: url(fonts/raleway/Raleway-Bold.ttf) format('truetype');
}

@font-face{
	font-family: 'raleway';
	font-style: italic;
	src: url(font/raleway/Raleway-Italic.ttf) format('truetype');
} */

*{
	font-family: raleway, 'Times New roman';
}

.container{
	width: 95%;
	margin: auto;
	max-width: 1200px;
}

.entete2{
	display: none;
}

strong{
	font-weight: bold; 
	color: black;
}

a{
	text-decoration: none;
}

.logo{
	width: auto;
	height: 45px;
	object-fit: cover;
	margin-left: 20px;
}

.titre1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	font-weight: bold;
}

.titre1 a{
	font-size: 1em;
	color: #0065FC;
	font-weight: bold;
}

li{
	list-style-type: none;	
}

.entete nav li{
	text-align: center;
}

hr{
	display: none;
}

.hr{
	height: 3px;
	background-color: rgba(0, 0, 0, 0.2);
	margin-top: 10px;
}

nav ul{
	display: flex;
	padding-left: 0;
	flex-flow: row wrap;
	justify-content: space-around;
}

nav a{
	width: 50%;
	font-size: 1em;
    color: #181818;
    text-decoration: none;
	margin-bottom: 10px;
}

nav a:hover{
	color: #0065FC;
}

nav a:hover .hr{
	background-color: #0065FC;
}

h1{
	font-size: 1.3em;
	margin-left: 20px;
	margin-top: 20px;
}

header p{
	margin-left: 20px;
	font-size: 0.9em;
	margin-top: 0;
}

form{
	display: flex;
	margin-left: 20px;
	margin-top: 20px;
}

.barre-recherche{
	width: 200px;
	height: 40px;
	border: 1px solid grey;
	border-right: none;
	margin-bottom: 10px;
	font-weight: bold;
	padding-left: 5px;
}

.bouton1{
	height: 40px;
	width: 40px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	background-color: rgba(236, 236, 236, 0.7);
	font-size: 1.2em;
}

.bouton2{
	height: 40px;
	width: 40px;
	border-radius: 10px;
	margin-left: -10px;
	border: none;
	color: white;
	background-color: #0065FC;
	font-size: 1.2em;
}

.bouton3{
	display: none;
}

#filtres h2{
	font-size: 1em;
	margin-left: 20px;
}

#filtres ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	padding-left: 0;
}

#filtres li i{
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 50%;
	margin-left: -3px;
	margin-top: -2px;
	margin-bottom: -2px;
}

#filtres li:hover{
    background-color: #0065FC;
}

.fa-money-bill-wave, .fa-heart, .fa-dog{
	padding: 15px;
}

.fa-child{
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#filtres li{
	border: 2px solid #bbb3b3;
	border-radius: 2em;
	padding-right: 10px;
	margin-right: 10px;
	font-weight: bold;
	margin-bottom: 10px;
}

#filtres a{
	color: black;
}

.info span{
	font-size: 0.9em;
}

.info i{
	font-size: 0.8em;
	color: #0065FC;
	border: 1px solid grey;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 2em;
	float: left;
	margin-right: 5px;
}

.info{
	margin-left: 20px;
	margin-bottom: 30px;
}

article a{
	color: black;
}

section h2, section p{
	margin-left: 10px;
}

h3{
	font-size: 1em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 20px;
	font-weight: bold;
}

p{
	padding: 0;
	margin-top: 0px;
	margin-bottom: 0;
}

.titre-populaires{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.icone-populaires{
	font-size: 1.3em;
	margin-right: 10px;
}

.populaires{
	background-color: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 20px;
}

.articles-populaires{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.populaires article{
	height: 122px;
	width: 90%;
	padding: 0px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-bottom: 10px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
	background-color: white;
	position: relative;
}

.photos-populaires{
	height: 110px;
	width: 30%;
	object-fit: cover;
	margin-right: 10px;
	float: left;
	border-top: 6px solid white;
	border-left: 6px solid white;
	border-bottom: 6px solid white;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

.descriptions-populaires{
	height: 122px;
	width: 100%;
	font-size: 0.9em;
}

.notes{
	display: flex;
	position: absolute;
	bottom: 10px;
	font-size: 0.8em;
	margin-left: 35%;
}

.bleues{
	color: #0065FC;
}

.grises{
	color: rgba(63, 63, 63, 0.2);
	margin-left: 2px;
}

.notes span{
	font-size: 0.7em;
}

.leshebergements{
	padding-bottom: 20px;
	padding-top: 20px;
	margin-right: 12px;
}

.articles-hebergements{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-right: 12px;
}

.leshebergements article{
	width: 90%;
	height: 200px;
	position: relative;
	margin-bottom: 10px;
}

.image{
	height: 150px;
	width: 100%;
	object-fit: cover;
	border: 6px solid white;
	border-radius: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

.description{
	position: absolute;
	background-color: rgba(255,255,255,1);
	width: 100%;
	height: 35%;
	top: 65%;
	border-left: 6px solid white;
	border-right: 6px solid white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

.noteshebergements{
	position: absolute;
	bottom: 2px;
	display: flex;
	left: 10px;
}

.leshebergements i{
	font-size: 0.8em;
}

.activites{
	padding-bottom: 20px;
}

.articles-activites{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: space-around;
}

.photoactivite{
	width: 100%;
	height: 95%;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

.photoactivite{
	display: flex;
	justify-content: center;
}

.activites article{
	width: 90%;
	height: 200px;
	position: relative;
	margin-bottom: 10px;
}

.descriptionactivite{
	font-weight: bold;
	position: absolute;
	background-color: rgba(255,255,255,1);
	bottom: 0px;
	width: 100%;
	height: 20%;
	padding-top: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

.descriptionactivite strong{
	padding-left: 5%;
}

footer{
	width: 100%;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer a{
	color: black;
}

footer ul{
	padding-left: 0;
}

footer li{
	margin-bottom: 15px;
}

.pied{
	margin-left: 10px;
	padding-bottom: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	h3{
		font-size: 0.9em;
		margin-left: 10px;
		margin-right: 0;	
	}

	.populaires h3{
		font-size: 1em;
	}

	.fa-chart-line{
		display: none;
	}

	.entete{
		display: none;
	}

	.entete2{
		display: inline-block;
		width: 100%;
	}

	nav a{
		width: auto;
		color: #0065FC;
		margin-left: 10px;
		margin-right: 10px;
	}

	.logo{
		margin-left: 0;
	}

	h1{
		margin-left: 0;
	}

	header p{
		margin-left: 0;
	}

	#filtres h2{
		margin-left: 0;
	}

	.hautpage{
		display: flex;
		justify-content: space-between;
	}

	form{
		justify-content: flex-start;
		margin-left: 0;
	}

	.bouton2{
		display: none;
	}

	.bouton3{
		display: inline-block;
		height: 40px;
		width: auto;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border: none;
		color: white;
		background-color: #0065FC;
		font-size: 1em;
	}

	.articles-hebergements{
		flex-flow: row wrap;
		justify-content: space-around;
	}
 
	.info{
		margin-left: 0px;
	}

	#filtres{
		display: flex;
		align-items: baseline;
		margin-left: 0px;
	}

	.description{
		width: 100%;
	}

	.leshebergements{
		width: 65%;
		height: 750px;
		background-color: #F2F2F2;
		border-radius: 20px;
		padding-right: 12px;
	}

	.leshebergements article{
		width: 45%;
		margin-bottom: 20px;
	}

	.populaires{
		width: 30%;
		height: 750px;
		border-radius: 20px;
		padding-bottom: 20px;
	} 

	.articles-populaires{
		height: 700px;
	}

	.descriptions-populaires{
		background-color: white;
		position: absolute;
		height: 65px;
		width: 200px;
		bottom: 0px;
		padding-left: 12px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		display: inline-block;
		font-size: 0.8em;
	}

	.articles-populaires article{
		height: 182px;
		width: 212px;
		position: relative;
		padding: 0;
		margin-bottom: 30px;
	}

	.photos-populaires{
		width: 200px;
		height: 170px;
		border-right: 6px solid white;
		border-radius: 25px;
		float: none;
	}

	.notes{
		bottom: 5px;
		margin-left: 10px;
	}

	.partie1{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.activites{
		width: 100%;
		height: 650px;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.articles-activites{
		width: 100%;
		height: 100%;
}

	.activites article{
		width: 22%;
	}

	.activites article:nth-last-child(1){
		height: 45%;
	}

	.activites article:nth-last-child(2){
		height: 45%;
	}

	.activites article:nth-last-child(3n){
		height: 600px;
	}

	.activites article:nth-last-child(4){
		height: 30%;
	}

	.activites article:nth-last-child(5){
		height: 60%;
	}

	.descriptionactivite{
		height: 50px;
		width: 100%;
	}

	footer{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
    
	.pied{
		margin-right: 5%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.fa-chart-line{
		display: block;
	}

	.articles-hebergements{
		height: 450px;
	}

	.leshebergements article{
		width: 30%;
		padding-bottom: 20px;
		height: 150px;
	}

	.leshebergements{
		height: 550px;
	}

	.populaires{
		height: 550px;
	}

	.populaires article{
		height: 140px;
		width: 90%;
		padding: 0px;
		margin-bottom: 20px;
	}
	
	.photos-populaires{
		height: 128px;
		width: 40%;
		object-fit: cover;
		margin-right: 0px;
		float: left;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	.descriptions-populaires{
		height: 140px;
		width: 50%;
		font-size: 0.9em;
		margin: 0;
		padding: 0;
	}
	
	.descriptions-populaires h3{
		margin-left: 0;
		margin-bottom: 5px;
	}

	.descriptions-populaires p, .notes{
		margin-left: 0;
	}

	.pied{
		margin-right: 10%;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.pied{
		margin-right: 15%;
	}
}